.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar.visible {
  transform: translateY(0);
}
